version: "3.9"

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: inventory-server
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "${NODE_DOCKER_PORT}:${NODE_DOCKER_PORT}"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: inventory-db
    restart: always
    env_file:
      - ./.env
    ports:
      - "${DB_PORT}:${DB_PORT}"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

volumes:
  pgdata:
