version: "3.9"
services:
  db:
    image: postgres:16
    container_name: inventory-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  server:
    build: .
    container_name: inventory-server
    command: npx nodemon index.js
    ports:
      - "${NODE_DOCKER_PORT}:3000"
    environment:
      HOST: ${HOST}
      PORT: ${PORT}
      CACHE: ${CACHE}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - db
    volumes:
      - .:/app
      - ./cache:/app/cache

volumes:
  db_data:
